# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [126]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [127]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [128]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'JorgePerez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [129]:
if not database_exists(engine.url):
    create_database(engine.url)

In [130]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine, if_exists='append', index=False)

In [131]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,Unnamed: 0,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
356,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
357,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
358,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
359,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [132]:
#Rellena la variable query con tu consulta
query1 = """ select LaunchSite from SPACEXTBL group by (LaunchSite); """
df  = pd.read_sql(query1, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1    KSC LC 39A
2   VAFB SLC 4E

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [133]:
query2 = """ select LaunchSite, FlightNumber from SPACEXTBL where LaunchSite like 'CCS%' limit 5; """
df  = pd.read_sql(query2, con = engine )
df

     LaunchSite  FlightNumber
0  CCSFS SLC 40             1
1  CCSFS SLC 40             2
2  CCSFS SLC 40             3
3  CCSFS SLC 40             5
4  CCSFS SLC 40             6

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [134]:
query3 = """ select Customers, sum(PayloadMass) as 'masa_total' from SPACEXTBL where Customers like '%NASA (CRS)%'; """
df  = pd.read_sql(query3, con = engine )
df

    Customers  masa_total
0  NASA (CRS)    188378.8

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [135]:
query4 = """ select Serial, round(avg(PayloadMass)) as 'media_masa' from SPACEXTBL where Serial like 'B1%' group by (Serial); """
df  = pd.read_sql(query4, con = engine )
df

   Serial  media_masa
0   B1003       500.0
1   B1004      3170.0
2   B1005      3325.0
3   B1006      2296.0
4   B1007      1316.0
5   B1008      4535.0
6   B1010      2216.0
7   B1011      4428.0
8   B1012      2395.0
9   B1013       570.0
10  B1015      1898.0
11  B1016      4707.0
12  B1017       553.0
13  B1018      2477.0
14  B1019      2034.0
15  B1020      5271.0
16  B1021      4218.0
17  B1022      4696.0
18  B1023      3100.0
19  B1025      2257.0
20  B1026      4600.0
21  B1028      5500.0
22  B1029      6634.0
23  B1030      5600.0
24  B1031      3845.0
25  B1032      5177.0
26  B1034      6070.0
27  B1035      2456.0
28  B1036      9600.0
29  B1037      6761.0
30  B1038       475.0
31  B1039      2835.0
32  B1040      5187.0
33  B1041      9600.0
34  B1042      3700.0
35  B1043      6124.0
36  B1044      6092.0
37  B1045      1380.0
38  B1046      4918.0
39  B1047      5525.0
40  B1048     10900.0
41  B1049     12777.0
42  B1050      2573.0
43  B1051     12097.0
44  B1054      4400.0
45  B1056      6777.0
46  B1058     10416.0
47  B1059      6044.0
48  B1060     11693.0
49  B1062      3681.0

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [136]:
query5 = """ select Date, LandingOutcome from SPACEXTBL where LandingOutcome like '%TRUE RTLS%' order by Date limit 1; """
df  = pd.read_sql(query5, con = engine )
df

         Date LandingOutcome
0  2015-12-22      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [137]:
query6 = """ select Serial, LandingOutcome, PayloadMass from SPACEXTBL where LandingOutcome = 'TRUE ASDS' and PayloadMass between 4000 and 6000; """
df  = pd.read_sql(query6, con = engine )
df

   Serial LandingOutcome  PayloadMass
0   B1022      True ASDS       4696.0
1   B1026      True ASDS       4600.0
2   B1021      True ASDS       5300.0
3   B1031      True ASDS       5200.0
4   B1046      True ASDS       5800.0
5   B1046      True ASDS       4000.0
6   B1059      True ASDS       5000.0
7   B1022      True ASDS       4696.0
8   B1026      True ASDS       4600.0
9   B1021      True ASDS       5300.0
10  B1031      True ASDS       5200.0
11  B1046      True ASDS       5800.0
12  B1046      True ASDS       4000.0
13  B1059      True ASDS       5000.0
14  B1022      True ASDS       4696.0
15  B1026      True ASDS       4600.0
16  B1021      True ASDS       5300.0
17  B1031      True ASDS       5200.0
18  B1046      True ASDS       5800.0
19  B1046      True ASDS       4000.0
20  B1059      True ASDS       5000.0
21  B1022      True ASDS       4696.0
22  B1026      True ASDS       4600.0
23  B1021      True ASDS       5300.0
24  B1031      True ASDS       5200.0
25  B1046      True ASDS       5800.0
26  B1046      True ASDS       4000.0
27  B1059      True ASDS       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [138]:
query7 = """ SELECT 
Count(Mission_Outcome)
FROM SPACEXTBL
group by (Mission_Outcome); """
df  = pd.read_sql(query7, con = engine )
df

   Count(Mission_Outcome)
0                       8
1                     352

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [139]:
query8 = """ SELECT 
Serial,PayloadMass
FROM SPACEXTBL
where PayloadMass = (SELECT 
max(PayloadMass)
FROM SPACEXTBL); """
df  = pd.read_sql(query8, con = engine )
df

   Serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0
13  B1048      15600.0
14  B1049      15600.0
15  B1051      15600.0
16  B1056      15600.0
17  B1048      15600.0
18  B1051      15600.0
19  B1049      15600.0
20  B1059      15600.0
21  B1049      15600.0
22  B1060      15600.0
23  B1058      15600.0
24  B1051      15600.0
25  B1060      15600.0
26  B1048      15600.0
27  B1049      15600.0
28  B1051      15600.0
29  B1056      15600.0
30  B1048      15600.0
31  B1051      15600.0
32  B1049      15600.0
33  B1059      15600.0
34  B1049      15600.0
35  B1060      15600.0
36  B1058      15600.0
37  B1051      15600.0
38  B1060      15600.0
39  B1048      15600.0
40  B1049      15600.0
41  B1051      15600.0
42  B1056      15600.0
43  B1048      15600.0
44  B1051      15600.0
45  B1049      15600.0
46  B1059      15600.0
47  B1049      15600.0
48  B1060      15600.0
49  B1058      15600.0
50  B1051      15600.0
51  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [140]:
query9 = """ select
Date,
Serial,
LandingOutcome
from SPACEXTBL 
where (LandingOutcome like 'F%' or  LandingOutcome like 'N%') and year(Date) = 2015; """
df  = pd.read_sql(query9, con = engine )
df

          Date Serial LandingOutcome
0   2015-01-10  B1012     False ASDS
1   2015-04-14  B1015     False ASDS
2   2015-04-27  B1016      None None
3   2015-06-28  B1018      None ASDS
4   2015-01-10  B1012     False ASDS
5   2015-04-14  B1015     False ASDS
6   2015-04-27  B1016      None None
7   2015-06-28  B1018      None ASDS
8   2015-01-10  B1012     False ASDS
9   2015-04-14  B1015     False ASDS
10  2015-04-27  B1016      None None
11  2015-06-28  B1018      None ASDS
12  2015-01-10  B1012     False ASDS
13  2015-04-14  B1015     False ASDS
14  2015-04-27  B1016      None None
15  2015-06-28  B1018      None ASDS

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [141]:
query10 = """ 
select
LandingOutcome,
Count(LandingOutcome) as 'Count_Launches'
from SPACEXTBL
where date between '2010-06-04' and '2017-03-20'
group by (LandingOutcome)
order by (Count_Launches) desc; """
df  = pd.read_sql(query10, con = engine )
df

  LandingOutcome  Count_Launches
0      None None              36
1      True ASDS              20
2     False ASDS              16
3     True Ocean              12
4      True RTLS              12
5    False Ocean               8
6      None ASDS               8